ADMIN_NAME='admin'
ADMIN_EMAIL='admin@cppalliance.org'
DATABASES_DEFAULT_ENGINE='django.db.backends.postgresql_psycopg2'
DATABASES_DEFAULT_HOST='localhost'
DATABASES_DEFAULT_NAME='lists_localhost_web'
DATABASES_DEFAULT_PASSWORD='123456789'
DATABASES_DEFAULT_PORT='5432'
DATABASES_DEFAULT_USER='lists_localhost_web'
STATIC_ROOT='/var/lib/mailman3/web/static'
ALLOWED_HOSTS='localhost'
CSRF_TRUSTED_ORIGINS='http://localhost, https://localhost'
SITE_ID=1
SECRET_KEY='supersecret'
MAILMAN_ARCHIVER_KEY='123456789'
DEFAULT_FROM_EMAIL='postorius@localhost'
SERVER_EMAIL='root@localhost'
MAILMAN_REST_API_URL='http://localhost:8001'
MAILMAN_REST_API_USER='restadmin'
MAILMAN_REST_API_PASS='123456789'
MAILMAN3_USE_PYSASSC='True'
DJANGO_DEBUG='False'
WEB_VAR_DIR='/var/lib/mailman3/web'
HAYSTACK_ENGINE_ELASTIC='True'
HAYSTACK_ENGINE='haystack.backends.elasticsearch7_backend.Elasticsearch7SearchEngine'
ELASTICSEARCH_URL='http://127.0.0.1:9200/'
ELASTICSEARCH_INDEX_NAME='mailman'
ADD_REMOTE_ADDR_MIDDLEWARE='ansible_galaxyproject_mailman3_middleware.SetRemoteAddrFromForwardedFor'
